body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
}

.first-section {
	display: flex;
	flex-flow: column nowrap;
	background-color: #1f2937;
	padding: 10px 300px 100px 300px;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header-logo a {
	font-size: 24px;
	font-weight: 900;
	color: #f9faf8;
	text-decoration: none;
}

.header-links a {
	font-size: 18px;
	color: #f9faf8;
	text-decoration: none;
	padding-left: 20px;
}

.main-section {
	display: flex;
	justify-content: space-between;
	padding-top: 100px;
}

.description {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-right: 200px;
}

h1 {
	font-size: 48px;
	font-weight: 900;
	color: #f9faf8;
	margin: 0;
}
.description p {
	font-size: 18px;
	color: #e5e7eb;
}
.description a {
	color: #e5e7eb;
	background-color: #3882f6;
	align-self: flex-start;
	padding: 5px 25px;
	border-radius: 5px;
	text-decoration: none;
}
.placeholder-img {
	border-radius: 10px;
}
